@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700|Barlow|Maven+Pro|Space+Grotesk");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");
/* Nav */


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Open Sans Condensed', sans-serif;
	vertical-align: baseline;}

body {
	padding-top: 3.25em;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
	color: #6b7770;
	margin: 0 0 0.5em 0;
	line-height: 1.3;
}



#nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.95);
	background-image: url("https://BABTUNA.github.io/overlay.png");
	width: 100%;
	height: 3.25em;
	line-height: 3.25em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	cursor: default;
}

	#nav ul {
		position: relative;
		z-index: 1001;
	}

	#nav li {
		display: inline-block;
		margin: 0 0.5em 0 0.5em;
		top: 0;
		position: relative;
		-moz-transition: top .15s ease-in-out;
		-webkit-transition: top .15s ease-in-out;
		-o-transition: top .15s ease-in-out;
		-ms-transition: top .15s ease-in-out;
		transition: top .15s ease-in-out;
	}

		#nav li > ul {
			display: none;
		}

		#nav li a, #nav li span {
			-moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
			-webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
			-ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
			transition: background-color .075s ease-in-out, color .075s ease-in-out;
			position: relative;
			display: block;
			text-decoration: none;
			color: #6b7770;
			top: -6px;
			padding: 6px 1.5em 0.25em 1.5em;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			outline: 0;
		}

		#nav li:hover, #nav li.active {
			top: 3px;
		}

		#nav li:hover a, #nav li:hover span {
			background: #C1CAC5;
			color: #fff;
		}

		#nav li.active a, #nav li.active span {
			background: #C1CAC5;
			color: #fff;
		}

		#nav li.current a {
			background: #b1ddab;
			color: #fff;
		}

.dropotron {
	list-style: none;
	background: #6B7770;
	color: #fff;
	border-radius: 6px;
	line-height: 2.75em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1em 0;
	text-align: left;
	min-width: 14em;
	margin-top: -1em;
	box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
}





/* Banner Image */
#banner {
	position: relative;
	background-image: url("https://BABTUNA.github.io/overlay.png"), url("https://BABTUNA.github.io/overlay.png"), url("https://BABTUNA.github.io/banner.jpg");
	background-position: top left, top left, center center;
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
	z-index: 1;
	padding-top: 4em;
	padding-bottom: 4em;
	font-family: 'Open Sans Condensed', sans-serif;

}

#banner .content {
	position: relative;
	background-color: rgba(21, 28, 23, 0.85);
	background-image: url("https://BABTUNA.github.io/overlay.png"), url("https://BABTUNA.github.io/highlight.png");
	background-position: top left, center center;
	background-size: auto, 100% 250%;
	background-repeat: repeat, no-repeat;
	text-align: center;
	margin: 0;
	padding-bottom: 2em;
	padding-top: 2em;

}

#banner .content h2 {
	color: #fff;
	font-size: 2.75em;
	margin: 0 0 0.5em 0;
}

#banner .content p {
	display: block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #575d59;
	font-size: 1.35em;
	margin: 0 0 1.25em 0;
}

/* Made Banner Title*/



/* Main Content Home*/

.container {
	margin: 0 auto;
	max-width: 100%;
	padding-top: 2em;
}


h2.major {
	position: relative;
	border-top: solid 5px #e7eae8;
	font-size: 1.65em;
	text-align: center;
	margin: 0 0 3em 0;
	top: 0.775em;
}

h2.major span {
	background: #fff;
	position: relative;
	display: inline-block;
	top: -0.775em;
	padding: 0 1.25em 0 1.25em;
}



/* About us image boxes */
.gimagey {
	position: relative;
	display: inline-block;
	border-radius: 8px;
}


.gImage{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
	border-radius: 8px;
	width: 20em;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
	justify-content: center;
	gap: 25px;
}


.gtext{   
	margin: 0 auto;
    width: 64em;
    text-align: center;
	margin-bottom: 4em;
	font-size: 1.10em;
	font-family: 'Space Grotesk', sans-serif;
	color: #6b7770;
	font-weight: 400;
	line-height: 2em;
}
